<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bikes.css')}}"/><!-- CSS -->
<script type="text/javascript" src="{{url_for('static', filename='bikes.js')}}"></script><!-- Load Javascript file -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><!-- Scripts for Google Charts -->
<script type="text/javascript">
google.charts.load('current', {'packages':['bar']});
</script>

<head>
<title>SeviBikes App</title>
</head>

    <div id="container"> <!-- Container -->

        <header> <!-- Page header -->

            <div id="logo"><a href="#"><img src="{{url_for('static', filename='logo.png')}}" alt="Sevici Logo" style="height:75px;width:125px;padding-top: 3px;"/></a></div>

            <!-- Dropdown selection for each station.
                'value' field contains the 'number' attribute as found in the database, so that it
                may passed into a sqlite query -->
            <form id="station_select">
			
                <label for="stations"> Obtener información para: </label>
                <select id = "stations" name="stations">
				{%for i in range(0, len)%} 
				     {% set res = names[i] | truncate(40)  %}
					<option value="{{numbers[i]}}" title="{{names[i]}}">{{res}}</option>
				{%endfor%} 
                </select>
                <input id="goButton" type="button" value="Go!" onclick="toggleInfo();"></input>
            </form>

        </header> <!-- End of header -->

        <div id="more_info" style="display:none"> <!-- Expandable to display detailed information on selected station including graphs etc. -->

            <h3 id="station_title">Station Name</h3><!-- innerHTML here will be changed at beginning of "toggleInfo()" function-->

            <div id="day_select"> <!-- Buttons to toggle what day information is displayed for -->
                <input class="weekday" type="button" name="toggle" value="Monday" onclick="drawChart('Monday');">
                <input class="weekday" type="button" name="toggle" value="Tuesday" onclick="drawChart('Tuesday');">
                <input class="weekday" type="button" name="toggle" value="Wednesday" onclick="drawChart('Wednesday');">
                <input class="weekday" type="button" name="toggle" value="Thursday" onclick="drawChart('Thursday');">
                <input class="weekday" type="button" name="toggle" value="Friday" onclick="drawChart('Friday');">
                <input class="weekday" type="button" name="toggle" value="Saturday" onclick="drawChart('Saturday');"></label>
                <input class="weekday" type="button" name="toggle" value="Sunday" onclick="drawChart('Sunday');">
            </div> <!-- End of day select -->

            <!-- divs that are initially empty, and will be used to house the graphs generated -->
                <div id="chart_daily" style="float:left"></div>
                <div id="columnchart_material" style="float:right"></div>

        </div> <!-- End of more info -->

        <div id="googleMap">
            <!-- div to contain Google map displaying all stations, their capacity, and the number of bikes available (at time of page load) -->
        </div>

        <footer>
            <img src="{{url_for('static', filename='logo.png')}}" style = "width: 150px;"/>
            <p>MLE - Data Stream Sevici</p>
            <ul><li>Lucia Falcón</li><li>Emilio García</li></ul>
        </footer>

    </div> <!-- End of container -->


    <script async defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ MAPS_APIKEY }}&amp;callback=initialize"></script>

</body>
</html>
