<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bikes.css')}}"/>
<script src="{{url_for('static', filename='bikes.js')}}"></script>
<head>
<title>Dublin Bikes App</title>
</head>

    <div id="container"> <!-- Container -->

        <header> <!-- Page header -->

            <div id="logo"><a href="#"><img src="{{url_for('static', filename='logo.png')}}" alt="Dublin Bikes Logo" style="height:80px;width:150px;"/></a></div>

            <form id="station_select">
                <label for="stations">Get detailed information for: </label>
                <select name="stations">
                    <option value="Barrow Street">Barrow Street</option>
                    <option value="Benson Street">Benson Street</option>
                    <option value="Blackhall Place">Blackhall Place</option>
                    <option value="Blessington Street">Blessington Street</option>
                    <option value="Bolton Street">Bolton Street</option>
                    <option value="Brookfield Road">Brookfield Road</option>
                    <option value="Cathal Brugha Street">Cathal Brugha Street</option>
                    <option value="Charlemont Street">Charlemont Street</option>
                    <option value="Chatham Street">Chatham Street</option>
                    <option value="Christchurch Place">Christchurch Place</option>
                    <option value="City Quay">City Quay</option>
                    <option value="Clonmel Street">Clonmel Street</option>
                    <option value="Collins Barracks Museum">Collins Barracks Museum</option>
                    <option value="Convention Centre">Convention Centre</option>
                    <option value="Custom House Quay">Custom House Quay</option>
                    <option value="Custom House">Custom House</option>
                    <option value="Dame Street">Dame Street</option>
                    <option value="Denmark Street Great">Denmark Street Great</option>
                    <option value="Deverell Place">Deverell Place</option>
                    <option value="Earlsfort Terrace">Earlsfort Terrace</option>
                    <option value="Eccles Street East">Eccles Street East</option>
                    <option value="Eccles Street">Eccles Street</option>
                    <option value="Emmet Road">Emmet Road</option>
                    <option value="Exchequer Street">Exchequer Street</option>
                    <option value="Excise Walk">Excise Walk</option>
                    <option value="Fenian Street">Fenian Street</option>
                    <option value="Fitzwilliam Square East">Fitzwilliam Square East</option>
                    <option value="Fitzwilliam Square West">Fitzwilliam Square West</option>
                    <option value="Fownes Street Upper">Fownes Street Upper</option>
                    <option value="Francis Street">Francis Street</option>
                    <option value="Frederick Street South">Frederick Street South</option>
                    <option value="Georges Quay">Georges Quay</option>
                    <option value="Golden Lane">Golden Lane</option>
                    <option value="Grand Canal Dock">Grand Canal Dock</option>
                    <option value="Grantham Street">Grantham Street</option>
                    <option value="Grattan Street">Grattan Street</option>
                    <option value="Greek Street">Greek Street</option>
                    <option value="Guild Street">Guild Street</option>
                    <option value="Hanover Quay">Hanover Quay</option>
                    <option value="Harcourt Terrace">Harcourt Terrace</option>
                    <option value="Hardwicke Place">Hardwicke Place</option>
                    <option value="Hardwicke Street">Hardwicke Street</option>
                    <option value="Hatch Street">Hatch Street</option>
                    <option value="Herbert Place">Herbert Place</option>
                    <option value="Herbert Street">Herbert Street</option>
                    <option value="Heuston Bridge (North)">Heuston Bridge (North)</option>
                    <option value="Heuston Bridge (South)">Heuston Bridge (South)</option>
                    <option value="Heuston Station (Car Park)">Heuston Station (Car Park)</option>
                    <option value="Heuston Station (Central)">Heuston Station (Central)</option>
                    <option value="High Street">High Street</option>
                    <option value="James Street East">James Street East</option>
                    <option value="James Street">James Street</option>
                    <option value="Jervis Street">Jervis Street</option>
                    <option value="John Street West">John Street West</option>
                    <option value="Kevin Street">Kevin Street</option>
                    <option value="Kilmainham Gaol">Kilmainham Gaol</option>
                    <option value="Kilmainham Lane">Kilmainham Lane</option>
                    <option value="King Street North">King Street North</option>
                    <option value="Leinster Street South">Leinster Street South</option>
                    <option value="Lime Street">Lime Street</option>
                    <option value="Market Street South">Market Street South</option>
                    <option value="Mater Hospital">Mater Hospital</option>
                    <option value="Merrion Square East">Merrion Square East</option>
                    <option value="Merrion Square West">Merrion Square West</option>
                    <option value="Molesworth Street">Molesworth Street</option>
                    <option value="Mount Brown">Mount Brown</option>
                    <option value="Mount Street Lower">Mount Street Lower</option>
                    <option value="Mountjoy Square West">Mountjoy Square West</option>
                    <option value="New Central Bank">New Central Bank</option>
                    <option value="Newman House">Newman House</option>
                    <option value="North Circular Road">North Circular Road</option>
                    <option value="Oliver Bond Street">Oliver Bond Street</option>
                    <option value="Ormond Quay Upper">Ormond Quay Upper</option>
                    <option value="Parkgate Street">Parkgate Street</option>
                    <option value="Parnell Square North">Parnell Square North</option>
                    <option value="Parnell Street">Parnell Street</option>
                    <option value="Pearse Street">Pearse Street</option>
                    <option value="Portobello Harbour">Portobello Harbour</option>
                    <option value="Portobello Road">Portobello Road</option>
                    <option value="Princes Street / O'Connell Street">Princes Street / O'Connell Street</option>
                    <option value="Rothe Abbey">Rothe Abbey</option>
                    <option value="Royal Hospital">Royal Hospital</option>
                    <option value="Sandwith Street">Sandwith Street</option>
                    <option value="Sir Patrick's Dun">Sir Patrick's Dun</option>
                    <option value="Smithfield North">Smithfield North</option>
                    <option value="Smithfield">Smithfield</option>
                    <option value="South Dock Road">South Dock Road</option>
                    <option value="St James Hospital (Luas)">St James Hospital (Luas)</option>
                    <option value="St. James Hospital (Central)">St. James Hospital (Central)</option>
                    <option value="St. Stephen's Green East">St. Stephen's Green East</option>
                    <option value="St. Stephen's Green South">St. Stephen's Green South</option>
                    <option value="Strand Street Great">Strand Street Great</option>
                    <option value="Talbot Street">Talbot Street</option>
                    <option value="The Point">The Point</option>
                    <option value="Townsend Street">Townsend Street</option>
                    <option value="Upper Sherrard Street">Upper Sherrard Street</option>
                    <option value="Western Way">Western Way</option>
                    <option value="Wilton Terrace">Wilton Terrace</option>
                    <option value="Wolfe Tone Street">Wolfe Tone Street</option>
                    <option value="York Street East">York Street East</option>
                    <option value="York Street West">York Street West</option>
                </select>
                <input type="button" value="Go!" onclick="toggleInfo();"></input>
            </form>

        </header> <!-- End of header -->

        <div id="more_info"> <!-- Expandable to display detailed information on selected station including graphs etc. -->

            <h3>Station Name</h3>

            <div id="day_select"> <!-- Buttons to toggle what day information is displayed for -->
                <label class="monday"><input type="radio" name="toggle" checked>Monday</label>
                <label class="tuesday"><input type="radio" name="toggle">Tuesday</label>
                <label class="wednesday"><input type="radio" name="toggle">Wednesday</label>
                <label class="thursday"><input type="radio" name="toggle">Thursday</label>
                <label class="friday"><input type="radio" name="toggle">Friday</label>
                <label class="saturday"><input type="radio" name="toggle">Saturday</label>
                <label class="sunday"><input type="radio" name="toggle">Sunday</label>
            </div> <!-- End of day select -->

            <div id="graphs">
                    <img id="chart1" src="{{url_for('static', filename='sample.png')}}" alt="Graph/Chart" style="width:450px;height:300px;"/>
                    <img id="chart2" src="{{url_for('static', filename='sample2.jpg')}}" alt="Graph/Chart" style="width:450px;height:300px;"/>
            </div>

        </div> <!-- End of more info -->

        <div id="mapType">
            <button value="Full Stations">Full Stations</button>
            <button value="All Stations">All Stations</button>
            <button value="Free Stations">Free Stations</button>
        
        </div>
        <div id="googleMap">
            <!-- div to contain Google map displaying all stations, their capacity, and the number of bikes available (at time of page load) -->
        </div>


    </div> <!-- End of container -->


    <script async defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ MAPS_APIKEY }}&amp;callback=initialize"></script>

</body>
</html>
